<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlaceLabel" jhiTranslate="backOfficeApp.place.home.createOrEditLabel">Create or edit a Place</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!place.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="place.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.idfacebook" for="field_idfacebook">Idfacebook</label>
            <input type="text" class="form-control" name="idfacebook" id="field_idfacebook"
                [(ngModel)]="place.idfacebook" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="place.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.street" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                [(ngModel)]="place.street" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.zip" for="field_zip">Zip</label>
            <input type="text" class="form-control" name="zip" id="field_zip"
                [(ngModel)]="place.zip" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.city" for="field_city">City</label>
            <input type="text" class="form-control" name="city" id="field_city"
                [(ngModel)]="place.city" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                [(ngModel)]="place.country" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.longitude" for="field_longitude">Longitude</label>
            <input type="text" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="place.longitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.latitude" for="field_latitude">Latitude</label>
            <input type="text" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="place.latitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.picture" for="field_picture">Picture</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                [(ngModel)]="place.picture" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.place.locatedin" for="field_locatedin">Locatedin</label>
            <input type="text" class="form-control" name="locatedin" id="field_locatedin"
                [(ngModel)]="place.locatedin" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
