<div>
    <h2>
        <span jhiTranslate="backOfficeApp.place.home.title">Places</span>
        <button class="btn btn-primary float-right jh-create-entity create-place" [routerLink]="['/', { outlets: { popup: ['place-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="backOfficeApp.place.home.createLabel">
            Create new Place
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="places">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idfacebook"><span jhiTranslate="backOfficeApp.place.idfacebook">Idfacebook</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="backOfficeApp.place.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="street"><span jhiTranslate="backOfficeApp.place.street">Street</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zip"><span jhiTranslate="backOfficeApp.place.zip">Zip</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="backOfficeApp.place.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="country"><span jhiTranslate="backOfficeApp.place.country">Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="longitude"><span jhiTranslate="backOfficeApp.place.longitude">Longitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="latitude"><span jhiTranslate="backOfficeApp.place.latitude">Latitude</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="picture"><span jhiTranslate="backOfficeApp.place.picture">Picture</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="locatedin"><span jhiTranslate="backOfficeApp.place.locatedin">Locatedin</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let place of places ;trackBy: trackId">
                <td><a [routerLink]="['../place', place.id ]">{{place.id}}</a></td>
                <td>{{place.idfacebook}}</td>
                <td>{{place.name}}</td>
                <td>{{place.street}}</td>
                <td>{{place.zip}}</td>
                <td>{{place.city}}</td>
                <td>{{place.country}}</td>
                <td>{{place.longitude}}</td>
                <td>{{place.latitude}}</td>
                <td>{{place.picture}}</td>
                <td>{{place.locatedin}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../place', place.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="places && places.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
