
<div *ngIf="place">
    <h2><span jhiTranslate="backOfficeApp.place.detail.title">Place</span> {{place.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backOfficeApp.place.idfacebook">Idfacebook</span></dt>
        <dd>
            <span>{{place.idfacebook}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.name">Name</span></dt>
        <dd>
            <span>{{place.name}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.street">Street</span></dt>
        <dd>
            <span>{{place.street}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.zip">Zip</span></dt>
        <dd>
            <span>{{place.zip}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.city">City</span></dt>
        <dd>
            <span>{{place.city}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.country">Country</span></dt>
        <dd>
            <span>{{place.country}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.longitude">Longitude</span></dt>
        <dd>
            <span>{{place.longitude}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.latitude">Latitude</span></dt>
        <dd>
            <span>{{place.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.picture">Picture</span></dt>
        <dd>
            <span>{{place.picture}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.place.locatedin">Locatedin</span></dt>
        <dd>
            <span>{{place.locatedin}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'place/'+ place.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
