
<div *ngIf="party">
    <h2><span jhiTranslate="backOfficeApp.party.detail.title">Party</span> {{party.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backOfficeApp.party.idfacebook">Idfacebook</span></dt>
        <dd>
            <span>{{party.idfacebook}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.name">Name</span></dt>
        <dd>
            <span>{{party.name}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.description">Description</span></dt>
        <dd>
            <span>{{party.description}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.picture">Picture</span></dt>
        <dd>
            <span>{{party.picture}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.ticketuri">Ticketuri</span></dt>
        <dd>
            <span>{{party.ticketuri}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.starttime">Starttime</span></dt>
        <dd>
            <span>{{party.starttime}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.endtime">Endtime</span></dt>
        <dd>
            <span>{{party.endtime}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.category">Category</span></dt>
        <dd>
            <span>{{party.category}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.festival">Festival</span></dt>
        <dd>
            <span>{{party.festival}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.hasafter">Hasafter</span></dt>
        <dd>
            <span>{{party.hasafter}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.popular">Popular</span></dt>
        <dd>
            <span>{{party.popular}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.facebooklink">Facebooklink</span></dt>
        <dd>
            <span>{{party.facebooklink}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.codepromo">Codepromo</span></dt>
        <dd>
            <span>{{party.codepromo}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.contest">Contest</span></dt>
        <dd>
            <span>{{party.contest}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.place">Place</span></dt>
        <dd>
            <div *ngIf="party.placeId">
                <a [routerLink]="['/place', party.placeId]">{{party.placeId_facebook}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.party.planner">Planner</span></dt>
        <dd>
            <span *ngFor="let planner of party.planners; let last = last">
                <a [routerLink]="['/planner', planner?.id ]">{{planner.id_facebook}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'party/'+ party.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
