<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPartyLabel" jhiTranslate="backOfficeApp.party.home.createOrEditLabel">Create or edit a Party</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!party.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="party.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.idfacebook" for="field_idfacebook">Idfacebook</label>
            <input type="text" class="form-control" name="idfacebook" id="field_idfacebook"
                [(ngModel)]="party.idfacebook" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="party.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="party.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.picture" for="field_picture">Picture</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                [(ngModel)]="party.picture" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.ticketuri" for="field_ticketuri">Ticketuri</label>
            <input type="text" class="form-control" name="ticketuri" id="field_ticketuri"
                [(ngModel)]="party.ticketuri" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.starttime" for="field_starttime">Starttime</label>
            <input type="text" class="form-control" name="starttime" id="field_starttime"
                [(ngModel)]="party.starttime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.endtime" for="field_endtime">Endtime</label>
            <input type="text" class="form-control" name="endtime" id="field_endtime"
                [(ngModel)]="party.endtime" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.category" for="field_category">Category</label>
            <input type="text" class="form-control" name="category" id="field_category"
                [(ngModel)]="party.category" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.festival" for="field_festival">Festival</label>
            <input type="checkbox" class="form-control" name="festival" id="field_festival"
                [(ngModel)]="party.festival" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.hasafter" for="field_hasafter">Hasafter</label>
            <input type="checkbox" class="form-control" name="hasafter" id="field_hasafter"
                [(ngModel)]="party.hasafter" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.popular" for="field_popular">Popular</label>
            <input type="checkbox" class="form-control" name="popular" id="field_popular"
                [(ngModel)]="party.popular" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.facebooklink" for="field_facebooklink">Facebooklink</label>
            <input type="text" class="form-control" name="facebooklink" id="field_facebooklink"
                [(ngModel)]="party.facebooklink" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.codepromo" for="field_codepromo">Codepromo</label>
            <input type="text" class="form-control" name="codepromo" id="field_codepromo"
                [(ngModel)]="party.codepromo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.contest" for="field_contest">Contest</label>
            <input type="text" class="form-control" name="contest" id="field_contest"
                [(ngModel)]="party.contest" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.party.place" for="field_place">Place</label>
            <select class="form-control" id="field_place" name="place" [(ngModel)]="party.placeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="placeOption.id" *ngFor="let placeOption of places; trackBy: trackPlaceById">{{placeOption.idfacebook}} - {{placeOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="backOfficeApp.party.planner" for="field_planner">Planner</label>
            <select class="form-control" id="field_planner" multiple name="planner" [(ngModel)]="party.planners">
                <option [ngValue]="getSelected(party.planners, plannerOption)" *ngFor="let plannerOption of planners; trackBy: trackPlannerById">{{plannerOption.idfacebook}} - {{plannerOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
