<div>
    <h2>
        <span jhiTranslate="backOfficeApp.party.home.title">Parties</span>
        <button class="btn btn-primary float-right jh-create-entity create-party" [routerLink]="['/', { outlets: { popup: ['party-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="backOfficeApp.party.home.createLabel">
            Create new Party
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parties">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idfacebook"><span jhiTranslate="backOfficeApp.party.idfacebook">Idfacebook</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="backOfficeApp.party.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="backOfficeApp.party.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="picture"><span jhiTranslate="backOfficeApp.party.picture">Picture</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ticketuri"><span jhiTranslate="backOfficeApp.party.ticketuri">Ticketuri</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="starttime"><span jhiTranslate="backOfficeApp.party.starttime">Starttime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="endtime"><span jhiTranslate="backOfficeApp.party.endtime">Endtime</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="category"><span jhiTranslate="backOfficeApp.party.category">Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="festival"><span jhiTranslate="backOfficeApp.party.festival">Festival</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hasafter"><span jhiTranslate="backOfficeApp.party.hasafter">Hasafter</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="popular"><span jhiTranslate="backOfficeApp.party.popular">Popular</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="facebooklink"><span jhiTranslate="backOfficeApp.party.facebooklink">Facebooklink</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="codepromo"><span jhiTranslate="backOfficeApp.party.codepromo">Codepromo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="contest"><span jhiTranslate="backOfficeApp.party.contest">Contest</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="placeId_facebook"><span jhiTranslate="backOfficeApp.party.place">Place</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let party of parties ;trackBy: trackId">
                <td><a [routerLink]="['../party', party.id ]">{{party.id}}</a></td>
                <td>{{party.idfacebook}}</td>
                <td>{{party.name}}</td>
                <td>{{party.description}}</td>
                <td>{{party.picture}}</td>
                <td>{{party.ticketuri}}</td>
                <td>{{party.starttime}}</td>
                <td>{{party.endtime}}</td>
                <td>{{party.category}}</td>
                <td>{{party.festival}}</td>
                <td>{{party.hasafter}}</td>
                <td>{{party.popular}}</td>
                <td>{{party.facebooklink}}</td>
                <td>{{party.codepromo}}</td>
                <td>{{party.contest}}</td>
                <td>
                    <div *ngIf="party.placeId">
                        <a [routerLink]="['../place', party.placeId  ]" >{{party.placeId_facebook}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../party', party.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'party/'+ party.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'party/'+ party.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="parties && parties.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
