
<div *ngIf="planner">
    <h2><span jhiTranslate="backOfficeApp.planner.detail.title">Planner</span> {{planner.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backOfficeApp.planner.idfacebook">Idfacebook</span></dt>
        <dd>
            <span>{{planner.idfacebook}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.planner.name">Name</span></dt>
        <dd>
            <span>{{planner.name}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.planner.description">Description</span></dt>
        <dd>
            <span>{{planner.description}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.planner.pagefan">Pagefan</span></dt>
        <dd>
            <span>{{planner.pagefan}}</span>
        </dd>
        <dt><span jhiTranslate="backOfficeApp.planner.picture">Picture</span></dt>
        <dd>
            <span>{{planner.picture}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'planner/'+ planner.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
