<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlannerLabel" jhiTranslate="backOfficeApp.planner.home.createOrEditLabel">Create or edit a Planner</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!planner.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="planner.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.planner.idfacebook" for="field_idfacebook">Idfacebook</label>
            <input type="text" class="form-control" name="idfacebook" id="field_idfacebook"
                [(ngModel)]="planner.idfacebook" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.planner.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="planner.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.planner.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="planner.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.planner.pagefan" for="field_pagefan">Pagefan</label>
            <input type="text" class="form-control" name="pagefan" id="field_pagefan"
                [(ngModel)]="planner.pagefan" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backOfficeApp.planner.picture" for="field_picture">Picture</label>
            <input type="text" class="form-control" name="picture" id="field_picture"
                [(ngModel)]="planner.picture" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
