<div>
    <h2>
        <span jhiTranslate="backOfficeApp.planner.home.title">Planners</span>
        <button class="btn btn-primary float-right jh-create-entity create-planner" [routerLink]="['/', { outlets: { popup: ['planner-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="backOfficeApp.planner.home.createLabel">
            Create new Planner
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="planners">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="idfacebook"><span jhiTranslate="backOfficeApp.planner.idfacebook">Idfacebook</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="backOfficeApp.planner.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="backOfficeApp.planner.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pagefan"><span jhiTranslate="backOfficeApp.planner.pagefan">Pagefan</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="picture"><span jhiTranslate="backOfficeApp.planner.picture">Picture</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let planner of planners ;trackBy: trackId">
                <td><a [routerLink]="['../planner', planner.id ]">{{planner.id}}</a></td>
                <td>{{planner.idfacebook}}</td>
                <td>{{planner.name}}</td>
                <td>{{planner.description}}</td>
                <td>{{planner.pagefan}}</td>
                <td>{{planner.picture}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../planner', planner.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'planner/'+ planner.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'planner/'+ planner.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="planners && planners.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
